<html>
<head>
    <title>Home Page</title>
    {% include 'student/cdnlines.html' %}
</head>
<body>
{% block content %}
    <style>
    body{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSomoN97G8NM_hDKBI7M9VNntnHNvxN2ka6gosao8Rs2vKULIk5&s);

    }

    </style>
<h2 class="text-center">Student Details</h2>
    <div class="container">
        <table class="table table-bordered table-dark">
            <thead>
            <tr>
                <th>Roll No:</th>
                <th>First Name:</th>
                <th>Lasr Name:</th>
                <th>Class Name:</th>
                <th>Section Name:</th>
                <th>Telgu Marks:</th>
                <th>Hindi Marks:</th>
                <th>English Marks:</th>
                <th>Math Marks:</th>
                <th>Social Marks:</th>
                <th>Science Marks:</th>
            </tr>
            </thead>
            <tbody>
            {% for s in student %}
            <tr>
                <td>{{s.roll }}</td>
                <td>{{ s.first_name }}</td>
                <td>{{ s.last_name }}</td>
                <td>{{ s.student_class }}</td>
                <td>{{ s.student_section }}</td>
                <td>{{ s.telgu_mark }}</td>
                <td>{{ s.hindi_mark }}</td>
                <td>{{ s.english_mark }}</td>
                <td>{{ s.math_mark }}</td>
                <td>{{ s.science_mark }}</td>
                <td>{{ s.social_mark }}</td>
            <td>
                 <a class="btn btn-success" href="/edit/{{ s.id }}">Edit</a>
                 <a class="btn btn-primary" href="/delete/{{ s.id }}">Delete</a>
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
    .flex{
        margin-left: 650px;
    }
    </style>
    <div class="flex">
    <a href="/add_student/" class="btn btn-info">Add Student</a>

    </div>
{% endblock %}


</body>
</html>